.editPanel{
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin:0.5em;
    

    display: grid;
    border-radius: 5px;

    select,input{
        outline: 0;
        border:none;
        padding: 0.5em;
        font-size: 16px;
        color: #354759;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
        &:focus{
            background-color: #354759;
            color:#fff;
        }

    }

    select{

    }
    input{

    }

    p{
        text-align: center;
        margin:0.5em 0;
    }

    .sendbtn{
        
        border-radius:0 0 5px 5px;
    }
    button{
        cursor: pointer;
        transition: 0.5s;
        outline:0;
        border:none;
        padding: 0.5em 0;

        &:nth-child(1){
            border-radius: 5px 5px 0 0;
        }

        &:hover{
            background-color: #354759;
            color:#fff;
        }
    }
}