.parts {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    //padding: 0 1em;
    scroll-behavior: smooth;
    
    // Десктопная версия
    @media (min-width: 768px) {
        padding: 0;
        width: 100%;
        
    }

    // Стили для скроллбара
    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 3px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 3px;
        
        &:hover {
            background: #555;
        }
    }
}