.search {
    background-color: #ECF4FF;
    border-radius: 10px;
    width: 100%;
    display: flex;
    margin: 0;

    img {
        height: 45px;
        padding: 0 0.5em;
        border-radius: 5px 0 0 5px;
        background-color: #4F8DE3;
    }

    input {
        width: 100%;
        padding: 0.8em 0.5em;
        border: none;
        border-radius: 0 5px 5px 0;
        box-shadow: inset 1px 1px 4px 0 #A1B0CA;
        outline: none;
        font-size: 16px;
        color: #54556A;

        &::placeholder {
            color: #A2B1CA;
        }
    }

    @media (min-width: 768px) {
        width: 100%;
        margin: 0;
        
        input {
            font-size: 14px;
        }
    }
}

.controlls {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0 1em;

    @media (min-width: 768px) {
        padding: 0;
        flex-direction: row;
        align-items: center;
    }
}