body {
    .container {
        width: 460px;
    }
}

.warehouse{
    margin-top: 4em;
    display: grid;
    

    .controlls{
        display: flex;
    }
    .content{
        //overflow: auto;
    }
}