// body {
//     .container {
//         width: 460px;
//     }
// }

.warehouse {
    margin-top: 4em;
    display: grid;
    gap: 20px;
    height: calc(100vh - 4em);
    max-width: 400px;
    
    // Мобильная версия (по умолчанию)
    grid-template-areas:
        "sidebar"
        "content";
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    
    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .controlls{
            margin: 1em 0;
        }
    }
    
    .content {
        grid-area: content;
        overflow-y: auto; // Добавляем прокрутку
        padding-right: 10px; // Отступ для скроллбара
        
    }
    h2{
        text-align: center;
        color: #54556A;
    }
    
    // Десктопная версия
    @media (min-width: 768px) {
        grid-template-columns: 1fr 300px;
        grid-template-areas: "content sidebar";
        max-width: 1200px; // Максимальная ширина
        width: 95%; // Немного отступов по бокам
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        
        .sidebar {
            position: sticky;
            top: 20px;
            height: calc(100vh - 4em - 20px);
            overflow-y: auto;
        }
        
        .content {
            max-height: calc(100vh - 4em);
            overflow-y: auto;
            margin: 1em 0;
        }
    }
    
    // Стилизация скроллбара
    .content, .sidebar {
        &::-webkit-scrollbar {
            width: 6px;
        }
        
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 3px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 3px;
            
            &:hover {
                background: #555;
            }
        }
    }
}