// .select_season{
//     z-index: 110;
//     background-color:#fff;
//     border-radius: 5px;
//     justify-self: center;
//     margin:0.2em 0;
//     padding: 0.2em 0.5em;
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    
// }

.select_season {
    margin-top: 4.2em;
    position: absolute;
    right: 16px;
    width: 100%;
    max-width: 450px;
    z-index: 120;
    justify-self: center;
   
    
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: 500;
    color: #2c3e50;
    white-space: nowrap;

    // Добавляем медиа-запрос для мобильных устройств
    @media (max-width: 768px) {
        margin-top: 4.6em;
        position: relative;
        right: auto;
        justify-self: center;
        width: auto;
        max-width: none;
        
        select {
            font-size: 14px !important;
        }
        
        input {
            max-width: 80px; // Ограничиваем ширину поля ввода
            font-size: 14px;
        }
    }

    select {
        background-color: transparent;
        border: none;
        color: #2c3e50;
        font-size: 16px;
        font-weight: 500;
    }

    

    .season-controls {
        
        display: flex;
        align-items: center;
        gap: 20px;

       
        
        .add-season {
            display: flex;
            gap: 10px;
            
            input {
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 150px;
            }
            
            button {
                padding: 5px 10px;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                
                &:hover {
                    background-color: #45a049;
                }
            }
        }
    }
}

.fields-tabs {
    display: flex;
    gap: 12px;
    margin: 5px 0;
    padding: 0 2em;
    z-index: 110;
    max-width: 400px;
    width: 400px;
    justify-self: center;
    overflow-x: auto;

    .tab {
        padding: 12px 24px;
        border: none;
        border-radius: 8px;
        background: white;
        color: #678295;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.2s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

        &:hover {
            background: #f8f9fa;
        }

        &.active {
            background: #4F8DE3;
            color: white;
        }
    }
}

@media (max-width: 768px) {
    .fields-tabs {
        padding: 0 16px;
        
        .tab {
            padding: 10px 20px;
            font-size: 14px;
        }
    }
}